{% extends 'base.html.twig' %}

{% block title %}Collect dechets{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock %}

{% block body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <section class="section" style="display: flex;align-item:center;justify-content: center;margin-right: -200px">
        <div class="row" style="display: flex;align-item:center;justify-content: center; margin-top: 150px">
        <h1 class="text-center">Collect dechets </h1>

            <div class="card">
                <div class="card-body">
                 <button class="btn btn-primary" onclick="sortByCost()">Trier </button>
                
                <!-- Form for dynamic search -->
                <form method="GET" action="{{ path('app_search') }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher..." name="query">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                        </div>
                    </div>
                </form>  

                    <table class="table datatable" id="myTable">
                        <thead>
                        <tr>
                                <th scope="col">IdCollect</th>
                                <th scope="col">Dechets</th>
                                <th scope="col">Pointramassage</th>
                                <th scope="col">Dateramassage</th>
                                <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for collectdechet in collectdechets %}
                                <tr>
                                    <td>{{ collectdechet.idCollect }}</td>
                                    <td>{{ collectdechet.id.name }}</td>
                                    <td>{{ collectdechet.pointramassage }}</td>
                                    <td>{{ collectdechet.dateramassage ? collectdechet.dateramassage|date('Y-m-d') : '' }}</td>
                                    <td>
                                        
                                        
                                        <a href="{{ path('app_collectdechets_show', {'idCollect': collectdechet.idCollect}) }}" class="btn btn-info btn-sm">
                                        <i class="ri-eye-line"></i> </a>
                                        
                                        <a href="{{ path('app_collectdechets_edit', {'idCollect': collectdechet.idCollect}) }}" class="btn btn-info btn-sm">
                                        <i class="ri-pencil-line"></i> </a>
                                    </td>
                                </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    
                    
                    <a href="{{ path('app_collectdechets_new') }}"><i class="fas fa-plus"></i>Organiser un collect</a>

                </div>
            </div>
             
        </div>
        

            <script>
                function sortByCost() {
                // Récupérer les lignes du tableau
                var rows = Array.from(document.querySelectorAll('#myTable tbody tr'));

                rows.sort(function(a, b) {
                    // Récupérer les valeurs des trois colonnes
                    var dechetsA = a.cells[3].textContent; 
                    var dechetsB = b.cells[3].textContent;
                    //var nameA = parseFloat(a.cells[1].textContent); 
                    //var nameB = parseFloat(b.cells[1].textContent);
                    var catA = new Date(a.cells[1].textContent); 
                    var catB = new Date(b.cells[1].textContent);
                    
                    // Comparer d'abord les Dechets
                    if (dechetsA !== dechetsB) {
                        return dechetsA.localeCompare(dechetsB);
                    }
                    
                    // Si les Dechets sont égaux, comparer les Pointramassage
                    if (catA !== catB) {
                        //return pointramassageB - pointramassageA;
                        return catA - catB;
                    }
                    
                    // Si les Pointramassage sont égaux, comparer les Dateramassage
                    
                });

                // Effacer le contenu actuel du tableau
                var tableBody = document.querySelector('#myTable tbody');
                tableBody.innerHTML = '';

                // Ajouter les lignes triées au tableau
                rows.forEach(function(row) {
                    tableBody.appendChild(row);
                });
              }
            </script>

            
    </section>

{% endblock %}


