{% extends 'base.html.twig' %}

{% block title %}Recyclagedechets{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Recyclage dechets </h1>
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">IdRecyc</th>
                                <th scope="col">Dechets</th>
                                <th scope="col">Pointrecyclage</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recyclagedechet in recyclagedechets %}
                                <tr>
                                    <td>{{ recyclagedechet.idRecyc }}</td>
                                    <td>{{ recyclagedechet.id.name }}</td>
                                    <td>{{ recyclagedechet.pointrecyclage }}</td>
                                    <td>
                                        <a href="{{ path('app_recyclagedechets_show', {'idRecyc': recyclagedechet.idRecyc}) }}" class="btn btn-info btn-sm">Show</a>
                                        <a href="{{ path('app_recyclagedechets_edit', {'idRecyc': recyclagedechet.idRecyc}) }}" class="btn btn-info btn-sm">Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">No records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
