{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Include DataTables CSS -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
{% endblock %}

{% block body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <section class="section" style="display: flex;align-item:center;justify-content: center;margin-right: -200px">
        <div class="row" style="display: flex;align-item:center;justify-content: center; margin-top: 150px">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des factures: ({{ factures.getTotalItemCount }})</h5>
                    <form method="GET" action="{{ path('app_facture_search') }}">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Rechercher..." name="query">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                            </div>
                        </div>
                    </form>
                    <table class="table datatable" id="myTable">
                        <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Libelle</th>
                            <th>Date</th>
                            <th>DateEch</th>
                            <th>Montant</th>
                            <th>Type</th>
                            <th>EstPayee</th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td>{{ facture.idFacture }}</td>
                                <td>{{ facture.libelle }}</td>
                                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                                <td>{{ facture.dateEch ? facture.dateEch|date('Y-m-d') : '' }}</td>
                                <td>{{ facture.montant }}</td>
                                <td>{{ facture.type }}</td>
                                <td>
                                    {% if facture.estPayee %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="{{ path('app_facture_show', {'idFacture': facture.idFacture}) }}"><i class="fas fa-eye"></i></a>
                                    <a href="{{ path('app_facture_edit', {'idFacture': facture.idFacture}) }}"><i class="fas fa-edit"></i></a>
                                    <a href="{{ path('app_facture_delete', {'idFacture': facture.idFacture}) }}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="display: flex;align-item:center;justify-content: center;">
                        {{ knp_pagination_render(factures) }}
                    </div>
                    <a href="{{ path('app_facture_new') }}"><i class="fas fa-plus"></i>Créer facture</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Include jQuery and DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $(document).ready(function() {
                $('.dataTables_info').hide();
            });
            $('#myTable').DataTable({
                paging: false,
                "pageLength": 10,
                searching: false,
            });
        });
    </script>
{% endblock %}

