{% extends 'base-front.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<!-- Navbar & Hero Start -->
<div class="container-fluid header position-relative overflow-hidden p-0">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="display-6 text-primary m-0">Carthago Smart</h1>
            <img src="{{ asset('front/img/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ path('app_front_index') }}" class="nav-item nav-link active">Acceuil</a>
                <a href="about.html" class="nav-item nav-link">About</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu m-0">
                        <a href="" class="dropdown-item">Energie</a>
                        <a href="{{ path('app_front_index') }}" class="dropdown-item">Dechets</a>
                        <a href="blog.html" class="dropdown-item">Evenemment</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
            </div>
            <a href="#" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a>
            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4">Sign Up</a>
        </div>
    </nav>
<section class="section" style="display: flex;align-item:center;justify-content: center;margin-right: -200px">
    <div class="row" style="display: flex;align-item:center;justify-content: center; margin-top: 150px">
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFacture</th>
                <td>{{ facture.idFacture }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ facture.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEch</th>
                <td>{{ facture.dateEch ? facture.dateEch|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montant }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ facture.type }}</td>
            </tr>
            <tr>
                <th>EstPayee</th>
                <td>{{ facture.estPayee ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ facture.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    <a href="{{ path('app_facture_edit', {'idFacture': facture.idFacture}) }}">edit</a>
    </div>
</section>
    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
