{% extends 'base-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<style>
.testimonial-inner-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; /* Ensure the image stays within the rounded frame */
}

.testimonial-inner-img img {
    width: 100%; /* Make the image fill the entire container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline spacing */
}
</style>
{% endblock %}

{% block body %}

    <!--navBar start-->

<nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="display-6 text-primary m-0">Carthago Smart</h1>
            <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Accueil</a>
                <a href="about.html" class="nav-item nav-link">À propos</a>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu m-0">
                        <a href="#" class="dropdown-item">Gestion des énergie</a>
                        <a href="#" class="dropdown-item">Gestion des déchets</a>
                        <a href="#" class="dropdown-item">Événements</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
                <a href="/user/profile/73/edit" class="btn btn-primary rounded-pill text-white py-2 px-4">Profile</a>
        </div>
    </nav>
    <!--navBar end-->
    

<div class="container-fluid bg-breadcrumb">
            <ul class="breadcrumb-animation">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">Mon Compte</h3>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                    <li class="breadcrumb-item"><a href="{{path('app_user_forUser')}}">Home</a></li>
                    <li class="breadcrumb-item active text-primary">Profile</li>
                </ol>    
            </div>
        </div>



    <!--view profile-->
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

  {% if app.user %}
                    <img style="width: 50px; height: 50px;" src="{{ asset('images/' ~ app.user.urlImage) }}" class="rounded-circle">
                {% endif %}
                <h2><h3>{{ app.user.userIdentifier }}</h3></h2>
              <h3>{{ app.user.roles ? app.user.roles|json_encode : '' }}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Vos informations personnelles sont protégés avec CarthagoSmart vous etes le seul à voir ces données , merci de nous contacter si vous suspecter d'un malware</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nom</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.nom}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Prénom</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.prenom}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Role</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.roles ? app.user.roles|json_encode : '' }} </div>
                </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address Email</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.addEmail}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Numéro de téléphone</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.numTlfn}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">



                  <!-- Profile Edit Form -->
                 {{ form_start(form) }}

<div class="row mb-3">
    <label id="profile-image" for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
  <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
    <img src="{{ asset('images/' ~ app.user.urlImage) }}" class="img-fluid rounded-circle" alt="Profile" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    </div>
<div>
<div class="pt-2">

<a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
</div>



   </div>     
    </div>
</div>

<div class="row mb-3">
    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Username</label>
    <div class="col-md-8 col-lg-9">
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-3">
    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address email</label>
    <div class="col-md-8 col-lg-9">
        {{ form_widget(form.addEmail, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>


<div class="text-center">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>

{{ form_end(form) }}
<!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

     
{% endblock %}


